<div class="w-screen h-[60rem] px-16 md:p-8 xl:px-32 xl:py-0">
  <div><h1 class="font-bold text-4xl pb-4">🧭 Explore</h1></div>
  <div class="size-full rounded-xl grid grid-cols-3 grid-rows-2 gap-10">
    <div
      class="col-span-1 row-span-2 rounded-xl flex flex-col items-center justify-start gap-10 h-full"
    >
      <!-- Search Place -->
      <div
        class="w-full h-1/4 bg-base-300 rounded-xl flex flex-col xl:flex-row items-center justify-center gap-4"
      >
        <app-place-autocomplete
          (placeChanged)="fromValue = $event"
        ></app-place-autocomplete>
        <h1>To</h1>
        <app-place-autocomplete
          (placeChanged)="toValue = $event"
        ></app-place-autocomplete>
      </div>
      <!-- Guide queries-->
      <div class="w-full h-3/4 rounded-xl bg-base-300">
        <app-guide-table [to]="toValue"></app-guide-table>
      </div>
    </div>
    <!-- Map -->
    <div class="col-span-2 row-span-1 bg-base-300 rounded-xl">
      <app-map-display [from]="fromValue" [to]="toValue"></app-map-display>
    </div>

    <!-- Places Card -->
    <div class="col-span-1 row-span-1 bg-base-300 rounded-xl">
      <div class="w-full h-full">
        <app-place-details-card [data]="fromValue"></app-place-details-card>
      </div>
    </div>
    <div class="col-span-1 row-span-1 bg-base-300 rounded-xl">
      <div class="w-full h-full">
        <app-place-details-card [data]="toValue"></app-place-details-card>
      </div>
    </div>
  </div>
</div>
