<div class="mx-6 mt-4">
  <div
    class="flex flex-row items-center justify-between w-full h-16 pt-1 bg-base-300 rounded-xl px-4"
  >
    <!-- Image -->
    <div class="w-1/3 h-full flex flex-row items-center justify-start gap-4">
      <a class="relative h-12 w-14" routerLink="/">
        <img ngSrc="assets/img/brand/brandArt.png" fill priority />
      </a>
      <!-- Links -->
      <div class="w-fit gap-4 flex flex-row">
        <a
          routerLink="/create"
          class="flex flex-row justify-center items-center"
          ><ng-icon name="ionCreate" class="text-xl"></ng-icon>Create</a
        >
        <a
          routerLink="/explore"
          class="flex flex-row justify-center items-center gap-1"
          ><ng-icon name="ionBookSharp" class="text-xl"></ng-icon>Explore</a
        >
      </div>
    </div>
    <!-- Search -->
    <form
      [formGroup]="searchForm"
      (submit)="onSubmit()"
      class="w-1/3 h-80 flex flex-row items-center justify-center gap-1 relative"
    >
      <label
        for="search"
        class="size-full relative flex flex-row items-center justify-center"
      >
        <ng-icon
          name="ionSearchSharp"
          class="absolute text-2xl top-[19px] left-1"
        ></ng-icon>
        <!-- form input -->
        <input
          type="text"
          formControlName="query"
          placeholder="Search for a city"
          class="pl-8 input input-bordered w-full rounded-xl"
      /></label>
    </form>

    <!-- Auth -->
    <div class="w-1/3 h-full flex flex-row items-center justify-end gap-4">
      <div
        class="badge rounded-xl badge-lg flex flex-row items-center justify-start gap-1"
      >
        <ng-icon name="ionLogoApple"></ng-icon
        ><ng-icon name="diAndroidOriginal"></ng-icon>
        <p>Get the app</p>
      </div>
      <!-- Auth Modal -->
      <div
        *ngIf="user$ | async as user; else login"
        class="flex flex-row gap-2 justify-start items-center"
      >
        <!-- Avatar -->

        <img
          [src]="user.user_metadata!['avatar_url']"
          fill
          priority
          class="rounded-full size-12"
        />

        <!-- Name -->
        <p>{{ user.user_metadata!["full_name"] }}</p>
        <button
          (click)="signOut()"
          type="button"
          class="btn btn-sm rounded-lg bg-white text-secondary-content hover:bg-white/80"
        >
          Sign out
        </button>
      </div>
      <ng-template #login>
        <button
          class="btn btn-sm rounded-lg bg-white text-secondary-content hover:bg-white/80"
          onclick="authModal.showModal()"
        >
          Get Started
        </button>
      </ng-template>

      <!-- Open the modal using ID.showModal() method -->

      <dialog id="authModal" class="modal">
        <div class="modal-box max-w-none w-1/3 h-3/5 rounded-xl">
          <div class="size-full flex flex-col items-center justify-center">
            <div class="w-full h-1/2 flex flex-row items-center justify-center">
              <div class="relative h-full w-1/2">
                <img ngSrc="assets/img/brand/logo.png" fill priority />
              </div>
            </div>
            <div
              class="w-full h-1/2 flex flex-col items-center justify-center gap-4"
            >
              <button
                class="btn w-2/3 rounded-xl"
                (click)="handleAuth('GOOGLE')"
                type="button"
              >
                <ng-icon name="diGoogleOriginal" class="text-xl"></ng-icon>
                Sign in with Google
              </button>
              <button
                class="btn w-2/3 rounded-xl"
                (click)="handleAuth('GITHUB')"
                type="button"
              >
                <ng-icon name="diGithubOriginal" class="text-xl"></ng-icon>
                Sign in with GitHub
              </button>
              <button
                class="btn w-2/3 rounded-xl"
                (click)="handleAuth('DISCORD')"
                type="button"
              >
                <ng-icon name="ionLogoDiscord" class="text-xl"></ng-icon>
                Sign in with Discord
              </button>
            </div>
          </div>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    </div>
  </div>
</div>
