<section class="w-full h-[50rem]">
  <div class="size-full mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <!-- Left box -->
    <div class="size-full grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div
        class="w-full h-2/3 flex flex-col items-center justify-center lg:col-span-2 lg:py-12 bg-base-300 rounded-xl gap-4"
      >
        <!-- Caroseul -->
        <app-unsplash-carousel></app-unsplash-carousel>
        <!-- Search Unsplash BTN -->
        <button
          class="btn bg-white text-black rounded-xl"
          onclick="unsplash.showModal()"
        >
          open modal
        </button>
        <dialog id="unsplash" class="modal">
          <div class="modal-box max-w-none w-[60rem] h-[60rem]">
            <app-unsplash></app-unsplash>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
      </div>

      <!-- Right box -->
      <div class="bg-base-300 p-8 shadow-lg lg:col-span-3 lg:p-12 rounded-xl">
        <app-guide-form></app-guide-form>
      </div>
    </div>
  </div>
</section>
