<div class="p-4 size-full flex flex-col items-start justify-between">
  <!-- Caption -->

  <div
    *ngIf="forecastData && forecastData.length > 0"
    class="size-full flex flex-col items-center justify-between"
  >
    <div class="flex flex-col items-center justify-center gap-2">
      <h1 class="text-5xl font-bold">{{ query }}</h1>
      <p class="text-lg font-semibold">
        {{ forecastData[0].IconPhrase }}
      </p>
    </div>
    <!-- Forecast -->
    <div>
      <ng-icon
        *ngIf="forecastData[0].WeatherIcon <= 4"
        name="ionSunny"
        class="text-9xl text-yellow-300"
      ></ng-icon>
      <ng-icon
        *ngIf="forecastData[0].WeatherIcon > 4"
        name="ionCloud"
        class="text-9xl text-white"
      ></ng-icon>
    </div>

    <!-- Degree -->
    <h1 class="text-5xl">
      {{ forecastData[0].Temperature.Value }} <span>F°</span>
    </h1>
  </div>
  <!-- IF forecastData does not exists -->
  <div *ngIf="!forecastData || forecastData.length === 0">
    <p>No forecast data available.</p>
  </div>
</div>
