<form
  [formGroup]="guideForm"
  (ngSubmit)="onSubmit()"
  class="w-full h-fit pb-10 space-y-8 bg-base-300 rounded-xl p-4"
>
  <!-- City -->
  <div class="w-full">
    <app-place-autocomplete
      (placeChanged)="onPlaceChanged($event)"
    ></app-place-autocomplete
    ><span class="loading loading-ball loading-lg text-green-500"></span>
  </div>

  <!-- Title -->
  <label class="sr-only" for="title">Title</label>
  <input
    class="w-full rounded-lg border-gray-200 p-3 text-sm"
    placeholder="Title"
    type="text"
    formControlName="title"
  />

  <!-- Description -->
  <textarea
    class="w-full rounded-lg border-gray-200 p-3 text-sm resize-none"
    placeholder="Describe what you recommend"
    rows="8"
    id="description"
    draggable="false"
    formControlName="description"
  ></textarea>

  <div class="pt-4">
    <button
      type="submit"
      class="inline-block w-full rounded-lg bg-orange-600 px-5 py-3 font-bold text-white sm:w-auto"
    >
      Create
    </button>
  </div>
</form>
