<div class="overflow-x-hidden w-full h-[90vh]">
  <div class="w-full h-full grid grid-cols-3 grid-rows-4 py-12 px-24 gap-12">
    <!-- City & Weather -->
    <div class="border-[1px] border-white rounded-xl col-span-1 row-span-2">
      <app-forecast-box
        [forecastData]="forecastData"
        [query]="query"
      ></app-forecast-box>
    </div>
    <!-- Information -->
    <div class="border-[1px] border-white rounded-xl p-4 col-span-1 row-span-2">
      Basic Info
    </div>
    <!-- Airline -->
    <div class="border-[1px] border-white rounded-xl p-4 col-span-1 row-span-2">
      Flight
    </div>
    <!-- Map -->
    <div class="border-[1px] border-white rounded-xl p-4 col-span-1 row-span-2">
      Map
    </div>
    <!-- Table of guides -->
    <div class="border-[1px] border-white rounded-xl p-4 col-span-2 row-span-2">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody *ngIf="guides.length > 0; else noResults">
          <tr *ngFor="let guide of guides; let i = index" class="bg-base-200">
            <th>{{ i + 1 }}</th>
            <td>
              <a
                [routerLink]="'/guide/' + guide.id"
                class="hover:underline no-underline"
              >
                <h1 class="text-2xl font-semibold">{{ guide.title }}</h1></a
              >
            </td>
            <td>{{ guide.job }}</td>
            <td>{{ guide.favoriteColor }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noResults>
        <p>No guides found for the city ""</p>
      </ng-template>
    </div>
  </div>
</div>
