<div
  *ngIf="data?.address && forecastData.length > 0 && forecastData[0]"
  class="card bg-base-200 shadow-xl size-full"
>
  <figure class="size-full">
    <img
      [src]="data?.imageUrl"
      height="100%"
      width="100%"
      class="object-fill size-full"
    />
  </figure>
  <div class="card-body flex flex-row items-center justify-between">
    <div
      class="w-full h-full card-title flex flex-row items-center justify-between"
    >
      <div class="flex flex-row items-center justify-center">
        <h1 class="font-bold text-2xl">{{ data?.name }}</h1>
        <ng-icon name="ionPin" class="text-2xl text-red-400"></ng-icon>
      </div>
      <div class="flex flex-row items-center justify-center gap-2">
        <p class="text-1xl">{{ forecastData?.[0]?.IconPhrase }}</p>
        <ng-icon
          *ngIf="forecastData[0].WeatherIcon <= 4"
          name="ionSunny"
          class="text-3xl text-yellow-300"
        ></ng-icon>
        <ng-icon
          *ngIf="forecastData[0].WeatherIcon > 4"
          name="ionCloud"
          class="text-3xl text-white"
        ></ng-icon>
        <h1 class="text-2xl">
          at {{ forecastData?.[0]?.Temperature?.Value }} <span>F°</span>
        </h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!data?.address" class="card bg-base-300 size-full shadow-xl">
  <figure class="size-full">
    <div class="size-full flex flex-col items-center justify-center">
      <h1 class="text-2xl font-bold">Enter a city to load</h1>
      <progress class="progress w-56"></progress>
      <p class="font-thin md: px-10 text-center">
        Note: It may take a few moment to load after you input a city
      </p>
    </div>
  </figure>
  <div class="card-body">
    <div class="card-title flex flex-row items-center justify-center">
      <img ngSrc="assets/img/brand/brandArt.png" width="64" height="64" />
    </div>
  </div>
</div>

<!-- Test component DO NOT DELETE -->
<!-- <div *ngIf="!data?.address" class="card bg-base-200 shadow-xl size-full">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      height="100%"
      width="100%"
      class="object-fill size-full"
    />
  </figure>
  <div class="card-body flex flex-row items-center justify-between">
    <div
      class="w-full h-full card-title flex flex-row items-center justify-between"
    >
      <div class="flex flex-row items-center justify-center">
        <h1 class="font-bold text-2xl">Atlanta</h1>
        <ng-icon name="ionPin" class="text-2xl text-red-400"></ng-icon>
      </div>
      <div class="flex flex-row items-center justify-center gap-2">
        <p class="text-1xl">Sunny</p>
        <ng-icon name="ionSunny" class="text-3xl text-yellow-300"></ng-icon>
        <h1 class="text-2xl">at 84 <span>F°</span></h1>
      </div>
    </div>
  </div>
</div> -->
